/* Custom Styles if needed */
body {
    font-family: 'Poppins', sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    color: #333;
  }
  
  a {
    transition: color 0.3s ease-in-out;
  }
  